
/*! buttonUp */
.button-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 12px;
    outline: none;
    background-color: var(--color-iris);
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.8s ease 0s;
    transform: translate(-120%, 0px);
    opacity: 0;
}

.button-up:hover {
    background-color: var(--color-sakura);
}

.button-up._anim-items {
    transform: translate(0, 0);
    opacity: 1;
}

.button-up._inactive {
    transform: translate(120%, 0px);
    opacity: 0;
}

@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.button-up.scroll-up {
    animation: bounceUp 0.3s ease;
}

.button-up.scroll-down {
    animation: bounceDown 0.3s ease;
}

/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
    .icon-up-arrow-button {
        width: 16px;
        height: 16px;
        fill: #fff;
    }

    .button-up {
        transition: transform 0.5s ease-in-out;
        padding: 8px;
    }
}