body {
    font-family: "Plus Jakarta Sans", medium;
    margin: 0;
    color: var(--color-slate);
}

button {
    cursor: pointer;
}

*,
::after,
::before {
    box-sizing: border-box;
}



a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;

}

li {
    list-style-type: none;
    font-style: normal;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.svg {
    list-style: none;

}

header {
    display: block;
}

button {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

/* .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
} */

