
/*! HEADER */

.container-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.header {
    border-bottom: 2px solid var(--color-dark-gray);
    background-color: var(--color-dark-blue);
    }
.heared-icon {
    fill: var(--color-quovo-gray);
    }
.header-link {
    display: inline-block;
    color: var(--color-quovo-gray);
    margin-left: 5px;
    font-family: "Space Grotesk";
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -3%;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-section{
    display: flex;
    align-items: center;
}
/* ______________________@MEDIA_______________________________ */

@media screen and (max-width: 767px) {
    .header-list,
    .login-list,
    .header-nav {
    display: none;
    }
.container-header {
    justify-content: space-between;
}
    .button-burger-mobile {
    max-height: 32px;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    }
    .header-link {
    font-size: 20px;
    align-items: center;
    width: 16px;
    }
    .heared-icon {
    width: 16px;
    height: 24px;
    }
}
/*! SECTION HERO */
.container-hero-title {
    position: relative;
}
.hero {
    padding-top: 120px;
    background-color: var(--color-dark-blue);
    transition: padding-bottom 0.3s ease;
}
.hero-name {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-white);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}

.hero-text{
    font-family: 'Plus Jakarta Sans';
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    color: var(--color-Grayish-blue);
}
.container-hero {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.hero-button-first {  
    border: 0;
    border-radius: 30px;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
}
.hero-button-first:hover {
    background-color: var(--color-dark-gray);
}
.hero-button-second {
    border: 0;
    border-radius: 30px;
    background-color: var(--color-iris);
    color: var(--color-white);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
}
.hero-button-second:hover {
    background-color: var(--color-dark-gray);
}
/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
.hero {
    padding-bottom: 80px;
}
.hero-name {
    font-size: 44px;
}
.hero-text {
    font-size: 16px;
    margin-bottom: 20px;
}
.hero-button-first {
    height: 44px;
    font-size: 12px;
}
.hero-button-second {
    height: 44px;
    font-size: 12px;
}
.video-overlay{
    display: none;
}
}





/*! SECTION FINANCES */
 .section-finances {
     background-color: var(--color-white);
     position: relative;
     z-index: 1;
 }
 .container-finances {
     padding-top: 120px;
     padding-bottom: 64px;
 }
 .finances-list {
     display: flex;
 }
 .finances-item:last-child {
     margin-right: 0;
 }
.finances-name-first {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-iris);
    margin-bottom: 12px;
}
.finances-name-second {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3%;
    color: var(--color-black-gray);
    margin-top: 0;
}
.finances-name-third {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3%;
    color: var(--color-black-gray);
    margin-top: 0;
}
.finances-text {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-Mostly-desaturated-dark-blue);
}
/*___________________________________________ */
.container-finances-description {
    margin-left: auto;
    margin-right: auto;
}
.finances-item-description {
    height: 100%;
    width: 100%;
}
.finances-image {
    display: block;
    border-radius: 16px;
}
.finances-name-description {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -3%;
    color: #040815;
}
.finances-text-decription {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Mostly-desaturated-dark-blue);
}
/* ______________________@MEDIA_______________________________ */

@media screen and (max-width: 767px){
.container-finances {
    padding-top: 80px;
    padding-bottom: 44px;
    }
.finances-item {
    margin-right: 40px;
}
.finances-name-first {
    font-size: 14px;
}
.finances-name-second {
    font-size: 28px;
}
.finances-name-third {
    font-size: 28px;
}
.finances-item-text {
    width: 200px;
    align-self: flex-end;
}
/*___________________________________________ */
.container-finances-description {
    padding-bottom: 80px;
}
.finances-list-description {
    display: flex;
    flex-direction: column;
}
.finances-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.finances-list-description {
    gap: 44px;
}
.container-item-card-finances {
    padding-top: 12px;
}
.finances-name-description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}
.finances-text-decription {
    font-size: 12px;
    text-align: center;
}
}

/*! register section */
.frame-register-section {
    background-color: var(--color-dark-blue);
}
.container-register-name {
    display: flex;
    justify-content: center;
}
.register-list {
    text-align: center;
}
.register-name-first {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-iris);
}
.register-name-second {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3%;
    color: var(--color-white);
}
.register-text {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Grayish-blue);
}
.container-register-card {
    margin-left: auto;
    margin-right: auto;
}

.register-card-text {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-white);
    text-align: center;
}
.item-card-register {
    text-align: center;
}
.image-container {
    position: relative;
    display: inline-block;
}
.circle {
    display: flex;
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: var(--color-iris);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5px;
    color: var(--color-white);
}
.register-container-button {
    display: flex;
    justify-content: center;
}
.register-button-first {
    border: 0;
    border-radius: 30px;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
}
.register-button-first:hover {
    background-color: var(--color-dark-gray);
}
.register-button-second:hover {
    background-color: var(--color-dark-gray);
}
.register-button-second {
    border: 0;
    border-radius: 30px;
    background-color: var(--color-iris);
    color: var(--color-white);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
}
/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
.frame-register-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.register-list {
    margin-bottom: 20px;
}
.register-name-first {
    margin-bottom: 8px;
    font-size: 14px;
}
.register-name-second {
    margin-bottom: 16px;
    font-size: 20px;
}
.register-text {
    font-size: 12px;
}
.register-list-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 30px;
    justify-content: space-between;
}
.register-card-text {
    font-size: 12px;
    margin-top: 4px;
}
.circle {
    width: 30px;
    height: 30px;
    font-size: 12px;
    border: 3px solid var(--color-dark-blue);
}
.image-register-card {
    width: 150px;
    height: 150px;
}
.register-container-button {
    gap: 10px;
}
.register-button-first {
    width: 100px;
    height: 44px;
    font-size: 12px;
}
.register-button-second {
    width: 100px;
    height: 44px;
    font-size: 12px;
}
}

/*! Section stepper */
.section-stepper {
    background-color: var(--color-dark-blue);
}
.stepper-image {
    border-radius: 12px;
}
.stepper-name-work {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-iris);
    letter-spacing: -2%;
}
.stepper-name-step {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-white);
    letter-spacing: -3%;
}
.stepper-text-descriptions {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-Grayish-blue);
    letter-spacing: -2%;
}
.stepper-list-step {
    display: flex;
    gap: 12px;
    background-color: var(--color-dark-gray);
    border-radius: 12px;
}
.stepper-step-text {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-white);
    letter-spacing: -2%;
}
.cirle-steps {
    border-radius: 100px;
    background-color: var(--color-iris);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -2%;
}
.cirle-steps:last-child {
    background-color: var(--color-white);
    color: var(--color-dark-gray);
}
.strip-first {
    height: 40px;
    width: 2px;
    background-color: #7C5CFC;
    margin: auto;
}
.strip-second {
    height: 40px;
    width: 2px;
    margin: auto;
    border-left: 2px dashed var(--color-white);
    border-spacing: 4px;
}
/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
.section-stepper {
    padding-bottom: 80px;
    padding-top: 80px;
}
.stepper-container {
    margin-left: auto;
    margin-right: auto;
}
.stepper-container-image {
    width: 100%;
    height: 100%;
}
.container-stepper-descriptions {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.stepper-name-work {
    font-size: 14px;
    margin-bottom: 8px;
}
.stepper-name-step {
    font-size: 20px;
    margin-bottom: 12px;
}
.stepper-text-descriptions {
    font-size: 14px;
    margin-bottom: 34px;
}
.stepper-list-step {
    padding: 20px 20px 20px 20px;
}
.stepper-step-text {
    font-size: 14px;
}
.steps-cirle {
    width: 26px;
    height: 160px;
}
.cirle-steps {
    width: 25px;
    height: 26px;
}
.stepper-step-text:first-child{
    margin-bottom: 48px;
}
.stepper-step-text:nth-child(2){
    margin-bottom: 42px;
}
.setps-container{
    margin-left: auto;
    width: 292px;
    margin-right: auto;
}
}

/* ! section productivity first */
.image-container-productivity {
    border-radius: 12px;
}
.productivity-name-first {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-iris);
    letter-spacing: -2%;
    text-align: center;
}
.productivity-name-second {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-dark-blue);
    letter-spacing: -3%;
    text-align: center;
}
.productivity-buttons-container {
    background-color: var(--color-Light-grayish-blue);
    border-radius: 30px;
}
.productivity-button-first {
    border-radius: 30px;
    border: 1px var(--color-iris);
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    background-color: var(--color-iris);
    color: var(--color-white);
}
.productivity-button-second {
    border-radius: 30px;
    border: none;
    background-color: var(--color-Light-grayish-blue);
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Grayish-blue);
}
.productivity-description-name {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3%;
    color: var(--color-dark-blue);
    text-align: center;
}
.item-list-productivity {
    display: flex;
    align-items: center;
}
.text-container-productivity {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-dark-blue);
}
.productivity-button-first-one {
    border-radius: 30px;
    border: none;
    background-color: var(--color-Light-grayish-blue);
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Grayish-blue);
}
.productivity-button-second-two {
    border-radius: 30px;
    border: 1px var(--color-iris);
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    background-color: var(--color-iris);
    color: var(--color-white);
}
/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
.section-productivity {
    padding-top: 80px;
    padding-bottom: 80px;
}
.container-productivity-content {
    margin-left: auto;
    margin-right: auto;
}
.image-container-productivity {
    width: 100%;
}
.productivity-name-first {
    font-size: 14px;
    margin-bottom: 10px;
}
.productivity-name-second {
    font-size: 20px;
    margin-bottom: 32px;
}
.productivity-buttons-container {
    height: 44px;
    margin-bottom: 32px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}
.productivity-button-first {
    height: 44px;
    font-size: 12px;
}
.productivity-button-second {
    height: 44px;
    font-size: 12px;
}
.productivity-description-name {
    font-size: 20px;
    margin-bottom: 16px;
}
.item-list-productivity:not(:last-child) {
    margin-bottom: 16px;
}
.text-container-productivity {
    font-size: 12px;
    margin-bottom: 20px;
}
.icon-container-productivity {
    margin-right: 14px;
    margin-top: -16px;
}
.icon-productivity {
    fill: var(--color-light-green);
    width: 14px;
    height: 14px;
}
.icon-productivity-second {
    fill: var(--color-Vivid-red);
    width: 14px;
    height: 14px;
}
.productivity-button-first-one {
    height: 44px;
    font-size: 12px;
}
.productivity-button-second-two {
    height: 44px;
    font-size: 12px;
}
}

/*! Section profile */
.section-profile {
    background-color: var(--color-dark-blue);
}
.container-profile-first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name-profile-first {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-iris);
    margin-bottom: 12px;
}
.name-profile-second {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-white);
}
.text-profile {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-Grayish-blue);
}

.item-profile {
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-gray);
    border-radius: 12px;
}
.img-profile-item {
    border-radius: 12px;
}
.text-profile-item {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-Light-grayish-blue);
    letter-spacing: -2%;
}
.profile-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    border-top: 1px solid var(--color-Grayish-blue);
    padding-top: 32px;
}
.name-profile-item {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-white);
}
.profile-text-card {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-gray);
}
.container-profile-button {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.profile-button {
    display: flex;
    width: 48px;
    height: 50px;
    border: 0;
    border-radius: 100px;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}
.profile-button-icon {
    width: 18px;
    height: 18px;
    fill: var(--color-gray);
}
.profile-button:hover {
    background-color: var(--color-dark-gray);

}
.profile-button:hover .profile-button-icon {
    fill: var(--color-white);
}
/* ______________________@MEDIA_______________________________ */
 @media screen and (max-width: 767px) {
.section-profile {
    padding: 80px 0px;
    }
.container-profile-first {
    margin-bottom: 40px;    
}
.name-profile-first {
    font-size: 14px;
}
.name-profile-second {
    font-size: 20px;
    margin-bottom: 12px;
}
.text-profile {
    font-size: 12px;
    text-align: center;
}
.list-profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}
.profile-text-container {
    width: 100%;
    height: 100%;
}
.item-profile {
    padding: 16px 16px;
}
.img-profile-item {
    width: 60px;
    height: 60px;
}
.text-profile-item {
    text-align: center;
    font-size: 12px;
}
.profile-card {
    margin-top: 40px;
}
.name-profile-item {
    font-size: 14px;
}
.profile-text-card {
    font-size: 12px;
}
.container-profile-button {
    gap: 12px;
}
.profile-button {
    width: 38px;
    height: 38px;
}
.profile-button-icon {
    width: 16px;
    height: 16px;
}
}

/*! Footer */
.section-footer {
    background-color: var(--color-white);
}

.footer-link-name {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-dark-gray);
}
.footer-link-logo {
    margin-right: 10px;
}
.footer-name {
    color: var(--color-dark-gray);
    font-family: "Space Grotesk";
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -3%;
}
.footer-icon {
    fill: var(--color-iris);
}
.footer-text {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Mostly-desaturated-dark-blue);
}
.link-footer {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Mostly-desaturated-dark-blue);
}
/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
.section-footer {
    padding: 30px 0px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    font-size: 12px;
    text-align: center;
}
.footer-link-name {
    font-size: 14px;
    margin-bottom: 10px;
}
.container-footer-first {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.container-footer-link {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 33px;
}
.item-footer-list:not(:last-child) {
    margin-bottom: 12px;
}
.footer-logo {
    margin-bottom: 18px;
}

.footer-name {
    font-size: 16px;
}
.link-footer {
    font-size: 12px;
}
}

.item-footer-link {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-dark-gray);
}
.item-footer-link:last-child {
    color: var(--color-Mostly-desaturated-dark-blue);
    font-weight: 500;
    line-height: 1.5;
    margin-left: auto;
    letter-spacing: -2%;
}
.slash {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    line-height: 1.5;
}

.container-footer-end {
border-top: 1px solid var(--color-sakura);
}
.footer-link-list {
    display: flex;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 767px) {
.container-footer-end {
    padding-top: 12px;
    }
.footer-link-list {
    gap: 4px;
}
.item-footer-link {
    font-size: 10px;
}
.item-footer-link:last-child {
    font-size: 10px;
}
.slash {
    font-size: 10px;
}
}

/*! buttonUp */
.button-up {
display: none;
position: fixed;
bottom: 20px;
right: 20px;
z-index: 99;
border: 12px;
outline: none;
background-color: var(--color-iris);
cursor: pointer;
border-radius: 50px;
transition: all 0.8s ease 0s;
transform: translate(-120%, 0px);
opacity: 0;
}
.button-up:hover {
background-color: var(--color-sakura);
}
.button-up._anim-items {
transform: translate(0, 0);
opacity: 1;
}
.button-up._inactive {
transform: translate(120%, 0px);
opacity: 0;
}



@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bounceDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.button-up.scroll-up {
    animation: bounceUp 0.3s ease;
}
.button-up.scroll-down {
    animation: bounceDown 0.3s ease;
}

/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
.icon-up-arrow-button {
    width: 16px;
    height: 16px;
}
.button-up {
    padding: 8px;
}
}