
/* ______________________@MEDIA_______________________________ */
@media screen and (max-width: 767px) {
    .modal-window-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
    }

.no-scroll {
    overflow: hidden;
}
    .modal-window-menu.hidden-menu {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .menu-item-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    }
.menu-item-modal {
    background-color: var(--color-dark-blue);
}
.header-nav-menu{
flex: 1;
}
.header-list-menu{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 60px;
    padding: 30px 16px;
    padding: 30px 16px;
}
.nav-link-menu{
    color: var(--color-white);
}
.nav-link-login-menu:hover {
    color: var(--color-iris);
}
.nav-link-menu:hover {
    color: var(--color-iris);
}
.login-list-menu{
    display: flex;
    align-items: center;
    gap: 32px;
    border-bottom: 2px solid var(--color-dark-gray);
    padding-top: 16px;
    padding-bottom: 16px;
}
.login-list-item-menu:last-child {
    margin-left: auto;
}
.header-list-item-menu{
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    transition: transform 0.5s ease-in-out;
}


.logo-section-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    text-align: center;
    margin-top: auto;
    padding-bottom: 16px;
}
.login-list-item-menu{
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
    transition: transform 0.5s ease-in-out;
}

.nav-link-login-menu{
    color: var(--color-gray);
}
.header-button-menu{
    border-radius: 30px;
    border: 0;
    background-color: var(--color-iris);
}
.header-button-menu:hover {
    background-color: var(--color-dark-gray);
}
.header-button-text-menu{
    color: var(--color-white);
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    line-height: 1.5;
}
.button-window-menu-close{
    width: 22px;
    height: 22px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    
}
.back-close{
    width: 22px;
    height: 22px;
    fill: var(--color-iris);
}
.zoomable {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.zoomable:hover {
    transform: scale(1.2);
}

/*! Effects*/
.modal-anim-items,
.modal-anim-items-logo {
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.modal-anim-items {
    transform: translate(-120%, 0px);
}

.modal-anim-items-logo {
    transform: translate(0px, -40%);
}

.modal-window-menu:not(.hidden-menu) .modal-anim-items,
.modal-window-menu:not(.hidden-menu) .modal-anim-items-logo {
    opacity: 1;
    transform: translate(0px, 0%);
        }
}
