body {
    font-family: "Plus Jakarta Sans", medium;
    margin: 0;
    color: var(--color-slate);
}

button {
    cursor: pointer;
}

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-dark-blue: #0D121F;
    --color-iris: #7C5CFC;
    --color-dark-gray: #1A202C;
    --color-white: #FFFFFF;
    --color-Light-grayish-blue: #F3F5F7;
    --color-light-green: #9CD323;
    --color-Vivid-red: #FF4423;
    --color-Grayish-blue: #90A3BF;
    --color-Mostly-desaturated-dark-blue: #596780;
    --color-gray: #C3D4E9;
    --color-quovo-gray: #E7DEFE;
    --color-black-gray: #040815;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;

}

li {
    list-style-type: none;
    font-style: normal;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.svg{
    list-style: none;
    
}

header {
    display: block;
}

button{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/*! HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;;
    background-color: var(--color-dark-blue);
}

.container-header {
    display: flex;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav{
    display: flex;
    align-items: center;
}
.header-link{
    color: var(--color-quovo-gray);
    margin-left: 10px;
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 24px;
    line-height: 0.8;
    letter-spacing: -3%;
}


.nav-link{
    color: var(--color-white);
}
.nav-link-login{
    color: var(--color-gray);
}

.header-list{
    display: flex;
    gap: 40px;
    margin-left: 243px;
    margin-right: 116px;
    align-items: center;
    padding-top: 37px; padding-bottom: 37px;
}

.login-list {
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.header-button{
    height: 52px;
    width: 125px;
    border-radius: 30px;
    border: 0;
    background-color: var(--color-iris);
    
}

.header-button-text{
font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -2%;
    text-align: justify;
    color: var(--color-white);
}

.heared-icon {
fill: var(--color-quovo-gray);
width: 20px;
height: 28px;
}

/*! SECTION HERO */
.container-hero-title {
    max-width: 1200px;
    position: relative;
}

.hero {
    padding-top: 120px;
    background-color: var(--color-dark-blue);
    transition: padding-bottom 0.3s ease;
    position: relative;
    padding-bottom: 300px;
    overflow: visible;
}

.hero-name {
    width: 893px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.5;
    color: var(--color-white);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}

.hero-text {
    width: 893px;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    color: var(--color-Grayish-blue);
    margin-bottom: 40px;
}

.container-hero {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.hero-button-first {
    width: 187px;
    height: 52px;
    border: 0;
    border-radius: 30px;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.hero-button-second {
    width: 141px;
    height: 52px;
    border: 0;
    border-radius: 30px;
    background-color: var(--color-dark-gray);
    color: var(--color-gray);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 90px;
}

.video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: visible;
    transition: height 0.3s ease;
}

.video-overlay:hover {
    height: 324px;
}

.video-hero {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

/*! SECTION FINANCES */
.section-finances {
    background-color: var(--color-white);
    position: relative;
    z-index: 1;
}

.container-finances {
    padding-top: 120px;
    padding-bottom: 64px;
}

.finances-list {
    display: flex;
}

.finances-item {
    margin-right: 160px;
}

.finances-item:last-child {
    margin-right: 0;
}

.finances-name-first{
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-iris);
    margin-bottom: 12px;
}
.finances-name-second{
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3%;
    color: var(--color-black-gray);
    margin-top: 0;
}
.finances-name-third{
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -3%;
    color: var(--color-black-gray);
    margin-top: 0;
}


.finances-item-text {
    width: 480px;
    align-self: flex-end;
}
.finances-text{
    
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-Mostly-desaturated-dark-blue);
}

/* ___________________________________________ */
.container-finances-description{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    width: 1200px;

}

.finances-list-description{
display: flex;
gap: 24px;
}

.finances-item-description{
    height: 100%;
    width: 100%;
}

.finances-image{
    display: block;
    border-radius: 16px;
    
}

.container-item-card-finances{
    padding-top: 24px;
}

.finances-name-description{
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -3%;
    color: #040815;
}
.finances-text-decription{
font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-Mostly-desaturated-dark-blue);
}

.finances-name-description {
    margin-bottom: 18px;

}


.finances-item-description:first-child .finances-name-description {
    margin-bottom: 12px;
}

.finances-item-description:last-child .finances-name-description {
    margin-bottom: 12px;
}

/*! register section */
.frame-register-section{
    background-color: var(--color-dark-blue);
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-register-name{
    display: flex;
    width: 728px;
    justify-content: center;
}

.register-list{
    margin-bottom: 40px;
    text-align: center;
}

.register-name-first{
    margin-bottom: 12px;
    font-family: "Plus Jakarta Sans";
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -2%;
        color: var(--color-iris);
        
}
.register-name-second{
    margin-bottom: 24px;
    font-family: "Plus Jakarta Sans";
        font-size: 40x;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -3%;
        color: var(--color-white);
}

.register-text{
    font-family: "Plus Jakarta Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -2%;
        color: var(--color-Grayish-blue);
}

.container-register-card{
    width: 944px;
    margin-left: auto;
    margin-right: auto;
    
}

.register-list-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    gap: 135px;
}

.register-card-text{
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -2%;
    color: var(--color-white);
    text-align: center;
    margin-top: 24px;
}

.item-card-register {
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.circle {
    display: flex;
    position: absolute;
    top: -18px;
    left: -18px;
    width: 50px;
    height: 50px;
    background-color: var(--color-iris);
    border: 6px solid var(--color-dark-blue);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5px;
    color: var(--color-white);
}

.image-register-card{
    width: 200px;
    height: 200px;
}


.register-container-button{
    display: flex;
    justify-content: center;
    gap: 16px;
}


.register-button-first {
    width: 187px;
    height: 52px;
    border: 0;
    border-radius: 30px;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.register-button-second {
    width: 141px;
    height: 52px;
    border: 0;
    border-radius: 30px;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}