
/*! HEADER */
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.container {
    width: 768px;
}
.nav-link {
    color: var(--color-white);
}
.nav-link:hover {
    color: var(--color-iris);
}
.nav-link-login {
    color: var(--color-gray);
}
.nav-link-login:hover {
    color: var(--color-iris);
}
.header-nav {
    display: flex;
    align-items: center;
}
.login-list {
    display: flex;
    align-items: center;
    gap: 32px;
}
.button-burger-mobile{
    display: none;
}
.container-header {
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
}
.heared-icon {
    width: 18px;
    height: 26px;
}
.header-list {
    display: flex;
    gap: 30px;
    margin-left: 83px;
    margin-right: 56px;
    padding-top: 27px;
    padding-bottom: 27px;
}
.header-list-item{
    font-size: 14px;
}
.header-link {
    color: var(--color-quovo-gray);
    margin-left: 10px;
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: -3%;
    align-items: center;
}
.header-button {
    height: 42px;
    width: 86px;
    border-radius: 30px;
    border: 0;
    background-color: var(--color-iris);

}
.header-button:hover {
    background-color: var(--color-dark-gray);
}
.header-button-text {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: -2%;
    text-align: justify;
    color: var(--color-white);
}
}


/*! SECTION HERO */
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.container-hero-title {
    position: relative;
}
.hero {
    transition: padding-bottom 0.3s ease;
    position: relative;
    overflow: visible;
    padding-top: 80px;
    padding-bottom: 120px;
}
.hero-name {
    font-size: 54px;
}
.hero-text {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.hero-button-first {
    width: 157px;
    height: 48px;
    font-size: 14px;
}
.hero-button-second {
    width: 111px;
    height: 48px;
    font-size: 14px;
    margin-bottom: 90px;
}
.video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: visible;
    transition: height 0.3s ease;
}
.video-overlay:hover {
    height: 324px;
}
.video-hero {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
} 
}
/*! SECTION FINANCES */

/*___________________________________________ */
.container-item-card-finances {
    padding-top: 24px;
}
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.container-finances {
    padding-top: 100px;
    }
.finances-name-first {
    font-size: 16px;
}
.finances-name-second {
    font-size: 32px;
}
.finances-name-third {
    font-size: 32px;
}
.finances-text {
    font-size: 16px;
}
/*___________________________________________ */
.container-finances-description {
    padding-bottom: 100px;
}
.finances-name-description {
    text-align: center;
    font-size: 20px;
    height: 60px;
    margin-bottom: 12px;
}
.finances-text-decription {
    font-size: 14px;
}
.finances-item-text {
    display: flex;
    align-items: center;
    text-align: center;
}
.finances-list-description {
    display: flex;
    gap: 16px;
}
.container-item-card-finances{
    height: 100%;
}
.finances-item {
    margin-right: 120px;
}
.finances-item-description:first-child .finances-name-description {
    margin-bottom: 10px;
}
.finances-item-description:last-child .finances-name-description {
    margin-bottom: 10px;
}
}

/*! register section */
.register-list-card {
    display: flex;
    justify-content: center;
}
.register-container-button {
    display: flex;
    justify-content: center;
}
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.frame-register-section {
    padding-top: 100px;
    padding-bottom: 100px;
    }
.register-list {
    margin-bottom: 30px;
}
.register-name-first {
    margin-bottom: 10px;
    font-size: 16px;
}
.register-name-second {
    margin-bottom: 20px;
    font-size: 30x;
}
.register-text {
    font-size: 14px;
}
.register-list-card {
    margin-bottom: 40px;
    gap: 40px;
}
.register-card-text {
    font-size: 14px;
    margin-top: 16px;
    width: 176px;
}
.circle {
    width: 40px;
    height: 40px;
    border: 4px solid var(--color-dark-blue);
    font-size: 16px;
}
.image-register-card {
    width: 176px;
    height: 176px;
}
.register-container-button {
    gap: 24px;
}
.register-button-first {
    width: 157px;
    height: 48px;
    font-size: 14px;
}
.register-button-second {
    width: 111px;
    height: 48px;
    font-size: 14px;
}
}

/*! Section stepper */
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.section-stepper {
        padding-bottom: 100px;
        padding-top: 100px;
    }
.stepper-image {
    height: 300px;
    border-radius: 12px;
}
.stepper-name-work {
    font-size: 16px;
    margin-bottom: 10px;
}
.stepper-name-step {
    font-size: 30px;
    margin-bottom: 16px;
}
.stepper-container-image{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.stepper-text-descriptions {
    font-size: 14px;
}
.container-stepper-descriptions {
    display: flex;
    justify-content: center;
}
.stepper-list-step {
    width: 500px;
    padding: 32px 0px 32px 32px;
}
.stepper-step-text:not(:last-child) {
    margin-bottom: 54px;
}
.stepper-step-text {
    font-size: 16px;
}
.cirle-steps {
    width: 35px;
    height: 36px;
    font-size: 16px;
}
}

/* ! section productivity first */
.image-container-productivity {
    border-radius: 12px;
}
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.section-productivity {
        padding-top: 100px;
        padding-bottom: 100px;
}
.container-productivity-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.image-container-productivity {
    max-width: 360px;
    max-height: 360px;
}
.productivity-name-first {
    font-size: 16px;
    margin-bottom: 12px;
}
.productivity-name-second {
    font-size: 30px;
    margin-bottom: 44px;
}
.productivity-buttons-container {
    display: inline-block;
    height: 48px;
    margin-bottom: 44px;
}
.productivity-button-first {
    height: 48px;
    font-size: 14px;
}
.productivity-button-second {
    height: 48px;
    font-size: 14px;
}
.productivity-description-name {
    font-size: 22px;
    margin-bottom: 24px;
}
.item-list-productivity:not(:last-child) {
    margin-bottom: 24px;
}
.text-container-productivity {
    font-size: 14px;
    margin-bottom: 20px;
}
.icon-container-productivity {
    margin-right: 14px;
    margin-top: -14px;
}
.icon-productivity {
    fill: var(--color-light-green);
    width: 16px;
    height: 16px;
}
.icon-productivity-second {
    fill: var(--color-Vivid-red);
    width: 16px;
    height: 16px;
}
.productivity-button-first-one {
    height: 48px;
    font-size: 14px;
}
.productivity-button-second-two {
    height: 48px;
    font-size: 14px;
}
}
/*! Section profile */
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.section-profile {
    padding: 100px 0px;
}
.container-profile-first {
    margin-bottom: 60px;
}
.container-profile-second{
    display: flex;
    justify-content: center;
}
.name-profile-first {
    font-size: 16px;
    margin-bottom: 12px;
}
.name-profile-second {
    font-size: 30px;
    margin-bottom: 16px;
}
.text-profile {
    font-size: 14px;
}
.list-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.item-profile {
    width: 500px;
    padding: 24px 24px;
}
.img-profile-item {
    width: 70px;
    height: 70px;
}
.text-profile-item {
    font-size: 14px;
    text-align: center;
}
.profile-card {
    gap: 16px;
    margin-top: 60px;
}
.name-profile-item {
    font-size: 16px;
}
.profile-text-card {
    font-size: 14px;
}
.container-profile-button {
    gap: 16px;
}
.profile-button {
    width: 42px;
    height: 42px;
}
.profile-button-icon {
    width: 18px;
    height: 18px;
}
}
 /*! Footer */

.footer-link-list {
    display: flex;
    align-items: center;
    gap: 16px;
}
 /* ______________________@MEDIA_______________________________ */
 @media screen and (min-width: 768px) {
.section-footer {
        padding: 100px 0px;
    }
.footer-link-name {
    font-size: 16px;
    margin-bottom: 16px;
}
.containet-footer-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}
.container-footer-first {
    margin-bottom: 16px;
    text-align: center;
}
.footer-name {
    font-size: 18px;
}
.list-link-footer {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
}
.container-footer-link {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.item-footer-list:not(:last-child) {
    margin-bottom: 24px;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

}
.footer-link-logo {
    margin-right: 10px;
}
.footer-icon {
    fill: var(--color-iris);
}
.footer-text {
    font-size: 14px;
    text-align: center;
}
.link-footer {
    font-size: 14px;
}



 .container-footer-end {
     padding-top: 24px;
 }
.footer-link-list {
    gap: 16px;
}
.item-footer-link {
    font-size: 14px;
}
.item-footer-link:last-child {
    font-size: 14px;
}
 }

/*! buttonUp */
/* ______________________@MEDIA_______________________________ */
@media screen and (min-width: 768px) {
.icon-up-arrow-button {
        width: 20px;
        height: 20px;
    }

    .button-up {
        padding: 10px;
    }
}